body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9934 {
  position:absolute;
  left:613px;
  top:26px;
  width:57px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:860px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9937 {
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  height:860px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9938 {
  position:absolute;
  left:2px;
  top:422px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9940 {
  position:absolute;
  left:2px;
  top:66px;
  width:194px;
  height:42px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9941 {
  position:absolute;
  left:2px;
  top:13px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9942 {
  position:absolute;
  left:2px;
  top:70px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9943 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u9944 {
  position:absolute;
  left:23px;
  top:81px;
  width:10px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9945 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9946 {
  position:absolute;
  left:175px;
  top:85px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9947 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:280px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9948 {
  position:absolute;
  left:2px;
  top:146px;
  width:194px;
  height:280px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9949 {
  position:absolute;
  left:2px;
  top:132px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9950 {
  position:absolute;
  left:2px;
  top:108px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9951 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9952 {
  position:absolute;
  left:2px;
  top:142px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9953 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9954 {
  position:absolute;
  left:2px;
  top:218px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9955 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9957 {
  position:absolute;
  left:2px;
  top:252px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9958 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9960 {
  position:absolute;
  left:2px;
  top:178px;
  width:194px;
  height:42px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9961 {
  position:absolute;
  left:2px;
  top:13px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9962 {
  position:absolute;
  left:2px;
  top:182px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9963 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u9964 {
  position:absolute;
  left:23px;
  top:193px;
  width:10px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9965 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9966 {
  position:absolute;
  left:175px;
  top:197px;
  width:7px;
  height:4px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9967 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9969 {
  position:absolute;
  left:2px;
  top:356px;
  width:194px;
  height:42px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9970 {
  position:absolute;
  left:2px;
  top:13px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9971 {
  position:absolute;
  left:2px;
  top:360px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9972 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u9973 {
  position:absolute;
  left:23px;
  top:371px;
  width:10px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9974 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9975 {
  position:absolute;
  left:175px;
  top:375px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9976 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9978 {
  position:absolute;
  left:2px;
  top:498px;
  width:194px;
  height:42px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9979 {
  position:absolute;
  left:2px;
  top:13px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9980 {
  position:absolute;
  left:2px;
  top:502px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9981 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u9982 {
  position:absolute;
  left:23px;
  top:513px;
  width:10px;
  height:12px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9983 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9984 {
  position:absolute;
  left:175px;
  top:517px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9985 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9986 {
  position:absolute;
  left:2px;
  top:286px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9987 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9988 {
  position:absolute;
  left:2px;
  top:320px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9989 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9990 {
  position:absolute;
  left:2px;
  top:397px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9991 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9992 {
  position:absolute;
  left:2px;
  top:431px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9993 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9994 {
  position:absolute;
  left:2px;
  top:465px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9995 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9996 {
  position:absolute;
  left:2px;
  top:540px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9997 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9998 {
  position:absolute;
  left:2px;
  top:574px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9999 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u10000 {
  position:absolute;
  left:2px;
  top:608px;
  width:194px;
  height:34px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u10001 {
  position:absolute;
  left:44px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10002 {
  position:absolute;
  left:26px;
  top:18px;
  width:176px;
  height:32px;
  font-size:12px;
  color:#FFFFFF;
}
#u10003 {
  position:absolute;
  left:2px;
  top:9px;
  width:172px;
  word-wrap:break-word;
}
#u10004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:807px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10004 {
  position:absolute;
  left:196px;
  top:55px;
  width:1231px;
  height:807px;
}
#u10005 {
  position:absolute;
  left:2px;
  top:396px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:53px;
}
#u10006 {
  position:absolute;
  left:2px;
  top:2px;
  width:1425px;
  height:53px;
}
#u10007 {
  position:absolute;
  left:2px;
  top:18px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:24px;
}
#u10009 {
  position:absolute;
  left:207px;
  top:64px;
  width:81px;
  height:24px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:24px;
}
#u10010 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:1505px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:922px;
  width:1259px;
  height:1505px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:744px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:21px;
}
#u10013 {
  position:absolute;
  left:13px;
  top:896px;
  width:567px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u10014 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
