body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:638px;
}
#u6409 {
  position:absolute;
  left:0px;
  top:17px;
  width:1137px;
  height:638px;
}
#u6410 {
  position:absolute;
  left:2px;
  top:311px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:146px;
}
#u6411 {
  position:absolute;
  left:20px;
  top:733px;
  width:893px;
  height:146px;
}
#u6412 {
  position:absolute;
  left:2px;
  top:65px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6413 {
  position:absolute;
  left:726px;
  top:178px;
  width:279px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6414 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6415 {
  position:absolute;
  left:20px;
  top:685px;
  width:381px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6416 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
