body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:638px;
}
#u6757 {
  position:absolute;
  left:0px;
  top:17px;
  width:1137px;
  height:638px;
}
#u6758 {
  position:absolute;
  left:2px;
  top:311px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:146px;
}
#u6759 {
  position:absolute;
  left:20px;
  top:733px;
  width:893px;
  height:146px;
}
#u6760 {
  position:absolute;
  left:2px;
  top:65px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6761 {
  position:absolute;
  left:726px;
  top:178px;
  width:279px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6762 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6763 {
  position:absolute;
  left:20px;
  top:685px;
  width:381px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6764 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
