body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:1845px;
}
#u129 {
  position:absolute;
  left:1px;
  top:1px;
  width:1194px;
  height:1845px;
}
#u130 {
  position:absolute;
  left:2px;
  top:914px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
