body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-2px;
  width:1376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u400 {
  position:absolute;
  left:2px;
  top:52px;
  width:1372px;
  height:776px;
}
#u400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1372px;
  height:776px;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u401 {
  position:absolute;
  left:3px;
  top:16px;
  width:222px;
  height:23px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u403 {
  position:absolute;
  left:409px;
  top:22px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
.u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
.u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u405 {
  position:absolute;
  left:312px;
  top:20px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFangSC-Medium', '.PingFang SC Medium', '.PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u408 {
  position:absolute;
  left:235px;
  top:20px;
  width:74px;
  height:19px;
  font-family:'.PingFangSC-Medium', '.PingFang SC Medium', '.PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
