body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:576px;
}
#u127 {
  position:absolute;
  left:223px;
  top:46px;
  width:708px;
  height:576px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
